<div id="<%= dom_id product %>">
  <div style = " display:flex,justify-content:space-between;margin: 0em 5em,">
 
    <strong>Sku:</strong>
    <%= product.sku %><br>
    <strong>Name:</strong>
    <%= product.name %>
    <strong>Price:</strong>
    <%= product.price %><br>
    <strong>Stock:</strong>
    <%= product.stock %>
    <strong>Size:</strong>
    <%= product.size %>
    <strong>Color:</strong>
    <%= product.color %>
    <strong>Brand:</strong>
    <%= product.brand %>

    <%= form_with(url: cart_add_path) do |f| %>
      <%=f.hidden_field :id, value: product.id %>
      <%= f.number_field :quantity, value:0, min: 1 %>
      <%= f.submit "Add to Cart" %>
    <% end %>
  </div>
</div>
